<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdcards.greenit.greenit" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ElearningActivity" >
        </activity>
        <activity android:name=".LiteracyActivity" >
        </activity>
        <activity android:name=".IndoorActivity" >
        </activity>
        <activity android:name=".SignageActivity" >
        </activity>
        <activity android:name=".HotelWasteActivity" >
        </activity>
        <activity android:name=".HotelEnergyActivity" >
        </activity>
        <activity android:name=".HotelWaterActivity" >
        </activity>
        <activity android:name=".HotelEmployeeActivity" >
        </activity>
        <activity android:name=".OfficeExteriorActivity" >
        </activity>
        <activity android:name=".IeqActivity" >
        </activity>
        <activity android:name=".OfficeWorkActivity" >
        </activity>
        <activity android:name=".OfficeGeoActivity" >
        </activity>
        <activity android:name=".HealthInfraActivity" >
        </activity>
        <activity android:name=".MedEquipActivity" >
        </activity>
        <activity android:name=".BioWasteActivity" >
        </activity>
        <activity android:name=".MedDeviceActivity" >
        </activity>
        <activity android:name=".InfraActivity" >
        </activity>
        <activity android:name=".HouseInfraActivity" >
        </activity>
        <activity android:name=".EnefActivity" >
        </activity>
        <activity android:name=".LandActivity" >
        </activity>
        <activity android:name=".HouseholdActivity" >
        </activity>
        <activity android:name=".LeedActivity" >
        </activity>
        <activity android:name=".RActivity" >
        </activity>
        <activity android:name=".RenewableActivity" >
        </activity>
        <activity android:name=".ModelActivity" >
        </activity>
        <activity android:name=".WhatActivity" >
        </activity>
        <activity android:name=".WhyActivity" >
        </activity>
        <activity android:name=".HowActivity" >
        </activity>
        <activity android:name=".SuccessActivity" >
        </activity>
    </application>

</manifest>
